{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'core/doodle.css' %}">
    <title>Echoes: {% block title %}of the Labyrinth{% endblock %}</title>
  </head>
  <body class="doodle">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
      body {
	  font-family: 'Short Stack', cursive;
      }
    </style>
    <div id="navbar" class="doodle-border">
      {% block navbar %}
        {# <a href="/admin">Admin</a> #}
	    {# <a href="/example">django-allauth example page</a> #}
	    <a href="/">[Index]</a>
        <a href="/about">[About]</a>
        {% if user.is_authenticated %}
            <span>// Logged in as {{ user.username }} //</span>
            <a href="/accounts/logout">[Logout]</a>
        {% endif %}
      {% endblock %}
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
